body{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
#container{
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  margin: 10% 15%;
  flex-direction: column;
  padding: 5%;
  border-style: solid;
  border: black;
}
#display{
  background-color: yellow;
}
.buttonContainer{
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
}
#operators{
  background-color: gray;
}
#numbersList{
  background-color: chocolate;
}
#calOptions{
  background-color: blueviolet;
}
ol{
  list-style-type: none;
}
