body{
  background-color:rgb(138, 132, 132);
  display: flex;
  justify-content: center;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 15%;
  height: 90vh;
  width: 45vw;
  flex-direction: column;
  padding: 5%;
}

#display{
  background-color: rgb(54, 52, 52);
  color: aliceblue;
  height: 25%;
  width: 80%;
  display: flex;
  font-family: monospace;
  font-size:xx-large;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 5%;
  overflow: hidden;
}

#buttonContainer{
  background-color: rgb(78, 78, 77);
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 76%;
}

#operators{
  background-color: gray;
  display: flex;
  width: 100%;
  height: 16.5%;
}

#numbersList{
 background-color: gray;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 66%;
}

.numGroup{
  display: flex;
  width: 100%;
  flex: auto;
}

#calOptions{
  background-color: gray;
  display: flex;
  width: 100%;
  height: 16.5%;
}

.operateButtons{
 flex: auto;
}

.numbers{
  flex-grow: 1;
}

.calButtons{
  flex: auto;
}

button{
  border-radius: 15%;
  margin: 1%;
  font-family: monospace;
  font-size: x-large;
}
#zeroContain{
  display: flex;
  justify-content: center;
}
#zero{
  flex-grow: 0;
  width: 33%;
}